HUGGINGFACE_TOKEN=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
BUCKET_SPEECH_PROFILES=
BUCKET_BACKUPS=
BUCKET_PLUGINS_LOGOS=

GOOGLE_APPLICATION_CREDENTIALS=google-credentials.json

PINECONE_API_KEY=pcsk_5ZQhwy_C9TDg6bPqjNKJoV8mqyHnbN88t2tHkhWDoohbzDiBgDKQDS3n6c7rmHeWniDYX1
PINECONE_INDEX_NAME=pineconeomi

REDIS_DB_HOST=winning-weasel-27655.upstash.io
REDIS_DB_PORT=6379
REDIS_DB_PASSWORD=AWwHAAIncDJjZDY3MTJkOGVlNmQ0ODJmOTgzNDNkZGZjMTZhMTc2MHAyMjc2NTU

SONIOX_API_KEY=
DEEPGRAM_API_KEY=cd9008e12380499ff5b11f637e7e2e9503e5b1ec

ADMIN_KEY="123"
OPENAI_API_KEY=AIzaSyBXGJJUTyZzW36VUaHBKl1We3tZSwG9CMk

GITHUB_TOKEN=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

WORKFLOW_API_KEY=
HUME_API_KEY=
HUME_CALLBACK_URL=

HOSTED_PUSHER_API_URL=

TYPESENSE_HOST=
TYPESENSE_HOST_PORT=
TYPESENSE_API_KEY=

STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CONNECT_WEBHOOK_SECRET=

BASE_API_URL=

RAPID_API_HOST=
RAPID_API_KEY=

# Firebase OAuth
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=

# Encrypt the conversations, memories, chat messages
ENCRYPTION_SECRET='omi_ZwB2ZNqB2HHpMK6wStk7sTpavJiPTFg7gXUHnc4tFABPU6pZ2c2DKgehtfgi4RZv'
